<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="165" android:versionName="1.65" package="eu.chainfire.supersu"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:resizeable="true" android:xlargeScreens="true" />
    <permission-group android:label="@string/supersu" android:icon="@drawable/ic_action_permission" android:name="android.permission-group.SUPERUSER" android:priority="10000" android:description="@string/superuser_description_more" />
    <permission android:label="@string/superuser_description" android:icon="@drawable/ic_action_permission" android:name="android.permission.ACCESS_SUPERUSER" android:protectionLevel="dangerous" android:permissionGroup="android.permission-group.SUPERUSER" android:description="@string/superuser_description_more" android:logo="@drawable/ic_action_permission" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <permission android:name="eu.chainfire.supersu.permission.NATIVE" android:protectionLevel="signatureOrSystem" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REBOOT" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher_emblem" android:name=".Application" android:allowClearUserData="false" android:allowBackup="false">
        <activity android:theme="@style/Theme.Sherlock.Light" android:label="@string/app_name" android:icon="@drawable/transparent" android:name=".MainActivity" android:exported="true" android:excludeFromRecents="true" android:launchMode="singleTask" android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:noHistory="false" android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity-alias android:label="@string/app_name" android:icon="@drawable/ic_launcher_emblem" android:name=".MainActivity-Emblem" android:enabled="true" android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias android:label="@string/app_name" android:icon="@drawable/ic_launcher_superandy" android:name=".MainActivity-SuperAndy" android:enabled="false" android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias android:label="@string/app_name" android:icon="@drawable/ic_launcher_original" android:name=".MainActivity-Original" android:enabled="false" android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias android:label="@string/app_name" android:icon="@drawable/ic_launcher_chip" android:name=".MainActivity-Chip" android:enabled="false" android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias android:label="@string/app_name" android:icon="@drawable/ic_launcher_supersu" android:name=".MainActivity-SuperSU" android:enabled="false" android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity android:theme="@style/Theme.Chainfire.Sherlock.Dialog" android:label="@string/app_name" android:name=".AppDetailActivity" android:exported="false" android:excludeFromRecents="true" android:configChanges="locale" android:hardwareAccelerated="true" />
        <activity android:theme="@style/Theme.Chainfire.Sherlock.Dialog" android:label="@string/app_name" android:name=".LogDetailActivity" android:exported="false" android:excludeFromRecents="true" android:configChanges="locale" android:noHistory="true" android:hardwareAccelerated="true" />
        <activity android:theme="@style/Theme.Chainfire.Sherlock.Dialog" android:label="@string/app_name" android:name=".PINActivity" android:exported="false" android:excludeFromRecents="true" android:configChanges="locale" android:noHistory="true" android:hardwareAccelerated="true" />
        <activity android:theme="@style/Theme.Chainfire.Sherlock.Dialog.Prompt" android:label="@string/app_name" android:name=".PromptActivity" android:exported="false" android:excludeFromRecents="true" android:launchMode="singleTask" android:configChanges="locale" android:noHistory="true" android:hardwareAccelerated="true" />
        <receiver android:name=".InstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".NativeAccessReceiver" android:permission="eu.chainfire.supersu.permission.NATIVE">
            <intent-filter>
                <action android:name="eu.chainfire.supersu.NativeAccess" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MainActivity$Launch">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data android:scheme="android_secret_code" android:host="1234" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data android:scheme="android_secret_code" android:host="7873778" />
            </intent-filter>
        </receiver>
        <service android:name=".SuperUserIntentService" android:exported="false" />
    </application>
</manifest>