<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="802" android:versionName="2.7.802" package="com.bigeyes0x0.trickstermod"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.bigeyes0x0.trickstermod.CHECK_LICENSE" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher_nate" android:name="com.bigeyes0x0.trickstermod.TrApp" android:allowBackup="true">
        <activity android:name="com.bigeyes0x0.trickstermod.main.ActivityTricksterMod">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.bigeyes0x0.trickstermod.main.ActivitySysctlEditor" />
        <activity android:name="com.bigeyes0x0.trickstermod.template.SettingScreen$ActivityScreen" />
        <activity android:theme="@*android:style/Theme.Holo.Dialog" android:name="com.bigeyes0x0.trickstermod.main.ActivityGenerals" android:taskAffinity="" android:excludeFromRecents="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.Holo.Light.Dialog" android:name="com.bigeyes0x0.trickstermod.main.ActivityDonate" />
        <activity android:theme="@*android:style/Theme.Holo.Light.Dialog" android:name="me.timos.br.ActivityBugReport" />
        <receiver android:name="com.bigeyes0x0.trickstermod.ReceiverGenerals">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <service android:name="com.bigeyes0x0.trickstermod.service.ServiceApplySettings" />
        <service android:name="com.bigeyes0x0.trickstermod.service.ServiceCheckPackage" />
        <service android:name="com.bigeyes0x0.trickstermod.service.ServiceInitializer" />
        <service android:name="com.bigeyes0x0.trickstermod.service.ServiceMakoColor" />
        <service android:name="com.bigeyes0x0.trickstermod.service.ServiceMediaScanner" />
    </application>
</manifest>