<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="6" android:versionName="@string/version_name" package="sg.ruqqq.XThemeEngine"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <permission-group android:label="XThemeEngine Permissions" android:name="sg.ruqqq.XThemeEngine.permissions" />
    <permission android:label="Use resource provided in application as replacements." android:name="sg.ruqqq.XThemeEngine.permission.SYSTEM_THEME" android:permissionGroup="sg.ruqqq.XThemeEngine.permissions" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposedminversion" android:value="2.0*" />
        <meta-data android:name="xposeddescription" android:value="\@ruqqq XThemeEngine. Run the app to configure." />
        <activity android:theme="@*android:style/Theme.DeviceDefault" android:label="@string/app_name" android:name=".ThemeChooserActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:logo="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>